@model PostViewModel

@{
    ViewBag.Title = Model.Id > 0 ? "Edit" : "Create";
}

<div class="container">
    <form asp-controller="Admin" asp-action="Edit" asp-antiforgery="true" method="post" enctype="multipart/form-data">
        <input asp-for="Id" type="hidden" />
        <div>
            <label>Titel</label>
            <input asp-for="Title" />
            <span asp-validation-for="Title"></span>
        </div>
        <div>
            <label>Description</label>
            <textarea asp-for="Description"></textarea>
            <span asp-validation-for="Description"></span>
        </div>
        <div>
            <label>Tags</label>
            <input asp-for="Tags" />
            <span asp-validation-for="Tags"></span>
        </div>
        <div>
            <label>Category</label>
            <input asp-for="Category" />
            <span asp-validation-for="Category"></span>
        </div>
        <div>
            <label>Image</label>
            <input asp-for="CurrentImage" type="hidden" />
            <input asp-for="Image" type="file" accept=".png, .jpg, .jpeg, .gif" />
        </div>
        <div>
            <label>Body</label>
            <textarea asp-for="Body" id="editor" ></textarea>
            <span asp-validation-for="Category"></span>
        </div>
        <input type="submit" value="Submit" />
    </form>
    <a asp-controller="Admin" asp-action="Index">Back to list</a>
</div>

@section scripts{
    <script src="https://cdn.ckeditor.com/4.17.1/basic/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editor')
        CKEDITOR.config.width = '100%';
    </script>
}