@model IEnumerable<Post>

<div class="container">
    <h2>Admin page!</h2>
    <a asp-controller="Admin" asp-action="Edit">Create Post</a>
    <form asp-controller="Admin" asp-action="index" method="get">
        <input type="search" name="SearchString" />
        <input type="submit" value="Search" />
    </form>
    <div>
        @foreach (var post in Model)
        {
            <div>
                @post.Title
                |
                <a asp-controller="Admin" asp-action="Edit" asp-route-id="@post.Id">
                    Edit
                </a>
                |
                <a asp-controller="Admin" asp-action="Delete" asp-route-id="@post.Id">
                    Delete
                </a>
            </div>
        }

    </div>
</div>
