@model IEnumerable<Post>
@{
    ViewBag.Titel = "Blog";
    ViewBag.Description = "A blog page";
    ViewBag.Keywords = "Blog";
}

<div class="main-img">
    <span>A Blog</span>
</div>

<div class="container">
    @foreach (var post in Model)
    {
        var path = $"/image/{post.Image}";
        <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
            <figure>
                <img src="@path">
                <figcaption>@post.Title</figcaption>
            </figure>
        </a>
    }
</div>

