* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: white
}

body {
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    background-color: hsl(0, 1%, 16%);
}

a {
    text-decoration: none;
    color: white
}

    a:hover {
        color: orange;
    }

textarea {
    resize: none;
}

header {
}

nav {
    display: flex;
    background-color: darkslateblue;
    width: 100%;
}

    nav a {
        color: hsl(242, 31%, 92%);
        display: inline-block;
        padding: 1rem
    }

    nav form {
        margin-right: auto;
    }

main {
}

footer {
    background-color: hsl(189, 79%, 37%);
    width: 100%;
}

    footer section {
        display: flex
    }

        footer section .socials {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }

        footer section .contact-info {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-left: 50%;
        }

    footer .coppyright {
        display: flex;
        color: hsl(0, 0%, 65%)
    }

form {
    display: grid;
    gap: 0.5rem;
}

    form label {
        display: block;
    }

    form span {
        color: red;
        display: block;
    }


.container {
    display: grid;
    gap: 0.5rem;
    justify-content: center;
    max-width: 50rem;
    margin: 1rem auto;
}

.pagination {
    display: flex
}

    .pagination a {
    }

    .pagination .next {
        margin-left: auto;
    }

    .pagination .previus {
    }

.card-post {
    border:solid;
    border-width: thin;
    border-color: hsl(45, 82%, 50%);
}
