*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html{
    color: white
}

body {
    width:100%;
    min-height: 100vh;
    background-color: hsl(0, 1%, 16%);
}

a {
    text-decoration: none;
}

    a:hover {
        color: orange;
    }

nav {
    display: flex;
    background-color: darkslateblue;
    width: 100%;
}

    nav a {
        color: hsl(242, 31%, 92%);
        display: inline-block;
        padding: 1rem
    }

    nav form {
        margin-right: auto;
    }

form {
    display: grid;
    gap: 0.5rem;
}

    form label {
        display: block;
    }

    form span{
        color: red;
        display: block;
    }

.main-img {
    display: grid;
    justify-content: center;
    align-content: center;
    position: relative;
    height: 30rem;
    background: url('../img/static/Main_bacground.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

    .main-img span, figure figcaption {
        color: white;
        font-size: 3rem;
        text-shadow: 0 0 0.2rem black;
    }

figure {
    display: grid;
    margin: auto;
    max-width: 30rem;
    position: relative;
    box-shadow: 0 0 0.4rem black;
}

    figure img {
        width: 100%;
        object-fit: cover;
    }

    figure figcaption {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
    }

.container {
    display: grid;
    gap: 0.5rem;
    justify-content: center;
    max-width: 50rem;
    width: 100%;
    height: 100%;
    margin: 1rem auto;
}

.pagination {
    display: flex
}

    .pagination a {
    }

    .pagination .next{
        margin-left: auto;
    }
    .pagination .previus {
        
    }
